# Makefile for liblocalizers
# Copyright (C) 2017 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = localizers

LIB_BOOST_LIB_NAMES :=

LIB_SRCC = \
	localizers.cpp \
	ttk_singletone.cpp \

LIB_EXT_LIB_NAMES = \
	templtext \
	templtextkeeper \
	utils \
	lang_tools
